/*---------- NAV ---------*/
.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.uil {
  font-size: 2rem;
  color: white;
}

.nav__item--clicked {
  animation: selected 6s linear forwards alternate infinite;
}

@keyframes selected {
  0% {
    color: green;
  }
  25% {
    color: red;
  }
  50% {
    color: hotpink;
  }
  75% {
    color: aquamarine;
  }
  100% {
    color: blueviolet;
  }
}
