.profile__hero {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.profile__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px 6px rgba(242, 242, 242, 0.8);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skill__skills {
  display: flex;
  justify-content: space-around;
}

.skill__item {
  border-radius: 8px;
  border: 2px solid gray;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 0 10px 6px rgba(242, 242, 242, 0.8);
}

.btn__logout {
  margin-top: 50px;
}
